.btn{
    border:none;
    margin: 5px;
    background-color: aquamarine;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    transition-duration: 0.4s;
    cursor: pointer;
}
.btn1{
    padding: 5px;
    border-radius: 2px;
}
.btn2{
    padding: 10px;
    border-radius: 4px;
}
.btn3{
    padding: 15px;
    border-radius: 8px;
}
.btn4{
    padding: 20px;
    border-radius: 12px;
}

.btn:hover{
    background-color: rgb(5, 195, 5);
    color: black;
}